<html>
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  Login
  <form method="POST" action='/'>
    <input name="username" type="text" placeholder="username"></input>
    <input name="password" type="password" placeholder="password"></input>
    <input type='submit' value="login">
  </form>
 <% if (error) { %>
      <div>  Error </div>
      <div> <%= error %> </div>
    <% } %> 
  <a href='signup'>Sign up</a>
</body>
</html>